@model FeedIt.Models.PostViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="text-center">
        <div class="col-md-12">
            <div>
                <a href=@Url.Action("profile", "Profile", new { userID = Model.user.Id})>@Model.user.UserName </a>
                <p>@Model.post.date</p>
            </div>
            <div>
                <img class="postpicture" src="@Url.Content(Model.post.picture)" alt="picture" />
            </div>
        </div>

        <div>
            <p class="recipe">@Model.post.about</p>
            <p>Rating: <span id="currentrating">@System.Math.Round(@Model.post.rating, 1)</span></p>

            @using (Html.BeginForm("ratePost", "Post", FormMethod.Post, new { id = "rateform" }))
            {
                <input type="hidden" name="postid" id="postid" value="@Model.post.ID" />
                <div class="form-horizontal">
                    <label class="sr-only" for="rateinfo">Rate</label>
                    <span class="star-rating">
                        @for (int i = 1; i <= 10; i++)
                        {
                            if (i == Model.post.rating)
                            {
                                <input type="radio" name="rating" id="rateinfo" value="@i" checked /><i></i>
                            }
                            else
                            {
                                <input type="radio" name="rating" id="rateinfo" value="@i" /><i></i>
                            }
                        }
                    </span>
                </div>
                @Html.ValidationSummary(false)
            }
        </div>
        <div>
            <input type="hidden" name="postid" id="postid" value=@Model.post.ID />
            <div>
                <textarea placeholder="Comment" cols="75" rows="5" name="content" id="content"></textarea>
            </div>
            <div>
                <input type="button" value="Post" id="commentform" />
            </div>
        </div>
        <div id="commentlist">
            @foreach (var comment in Model.comments)
            {
                <blockquote class="Commentsection">
                    <div>
                        <p>
                            @comment.comment.comment
                        </p>
                        <footer> - @comment.user.UserName at @comment.comment.date</footer>
                    </div>
                </blockquote>
            }
        </div>
    </div>
</body>

