@model FeedIt.Models.GroupViewModel
@{
    ViewBag.Title = "GroupView";
}
<body>
    <div class="navleft">
        <h2>@Model.group.name</h2>
        <div>
            <img src="@Url.Content(Model.group.picture)" alt="picture" class="profilePicture" />
        </div>
        <div>
            <p>@Model.group.about</p>
        </div>
    </div>
    <div class="text-center">
        @using (Html.BeginForm("createPost", "Group", FormMethod.Post, new { id = "makePostForm" }))
        {
            <input type="hidden" name="groupID" id="groupID" value="@Model.group.ID" />
            <div>
                <input class="col-xs-12" type="text" name="picture" id="picture" />
                <div>
                    <textarea rows="7" cols="75" placeholder="Description/recipe" name="description" id="description"></textarea>
                </div>
                <div>
                    <input type="submit" class="text-right" value="Post" />
                </div>
            </div>
        }
    </div>
    <div>
        @Html.Partial("UserFeed", Model.feed)
    </div>
</body>
