@model FeedIt.Models.GroupViewModel
@{
    ViewBag.Title = "GroupView";
}

<h2>@Model.group.name</h2>
<body>
    <div class="navleft">
        <div>
            <img src="@Url.Content(Model.group.picture)" alt="picture" class="groupprofilepicture" />
        </div>
        <div class="followtakki hidden" id="gfollowtakki">
            <input type="hidden" value=@Model.group.ID name="groupID" id="groupID" />
            <input type="button" value="Follow" class="btn btn-default" id="gfollow" />
        </div>
        <div class="unfollowtakki" id="gunfollowtakki">
            <input type="hidden" value=@Model.group.ID name=groupID" id="goupID" />
            <input type="button" value="Unfollow" class="btn btn-default" id="gunfollow" />
        </div>
           <div class="groupabout">
                    <p>@Model.group.about</p>
            </div>
        </div>
    <div class="createpostforms">
        @using (Html.BeginForm("createPost", "Group", FormMethod.Post, new { id = "makePostForm" }))
        {
            <input type="hidden" name="groupID" id="groupID" value="@Model.group.ID" />
             <div>
                   <label>Insert photo URL</label>
                   <input class="feedtextbox" type="text" name="picture" id="picture" />
                 <div class="margintop">
                     <textarea rows="7" cols="75" placeholder="Description/recipe" name="description" id="description" class="feedtextarea"></textarea>
                 </div>
                 <div class="postbutton">
                     <input type="submit" value="Feed to group" class="postbuttongroups btn btn-default" />
                 </div>
             </div>
        }
    </div>
    <div>
        <div class="navrightfollowers">
            <button id="followersbutton" class="followermargin btn btn-default">Followers</button>
            <div id="followers" class="hidden">
                <p class="followermargin"></p>
                @Html.Partial("FollowerFollowing", Model.followers)
            </div>
        </div>
        @Html.Partial("GroupFeed", Model.feed)
    </div>
</body>
