@model FeedIt.Models.GroupViewModel
@{
    ViewBag.Title = "GroupView";
}

<h2>@Model.group.name</h2>
<body>
    <div class="navleft">
        <div>
            <img src="@Url.Content(Model.group.picture)" alt="picture" class="groupprofilepicture" />
        </div>
        <span class="followtakki hide">
            @using (Html.BeginForm("Follow", "Group", FormMethod.Post, new { id = "postform" }))
            {
                <input type="hidden" value=@Model.group.ID name="groupID" id="groupID" />
                <input type="submit" value="Follow" />
            }
        </span>
        <span class="unfollowtakki">
            @using (Html.BeginForm("Unfollow", "Group", FormMethod.Post, new { id = "postform" }))
            {
                <input type="hidden" value=@Model.group.ID name="groupID" id="groupID" />
                <input type="submit" value="Unfollow" />
            }
        </span>
           <div class="groupabout">
                    <p>@Model.group.about</p>
            </div>
        </div>
    <div class="createpostforms">
        @using (Html.BeginForm("createPost", "Group", FormMethod.Post, new { id = "makePostForm" }))
        {
            <input type="hidden" name="groupID" id="groupID" value="@Model.group.ID" />
             <div>
                   <label>Insert photo URL</label>
                   <input class="feedtextbox" type="text" name="picture" id="picture" />
                 <div class="margintop">
                     <textarea rows="7" cols="75" placeholder="Description/recipe" name="description" id="description" class="feedtextarea"></textarea>
                 </div>
                 <div class="postbutton">
                     <input type="submit" value="Feed to group" class="postbuttongroups"/>
                 </div>
             </div>
        }
    </div>
    <div>
        @Html.Partial("GroupFeed", Model.feed)
    </div>
</body>
