@model FeedIt.Models.ProfileViewModel

<body>
    <div class="wrapper">
        <h2 class="newsfeed">@Model.user.fullName</h2>
        <div>
            <div>
                <div>
                    <img src="@Url.Content(Model.user.profilePicture)" alt="picture" class="groupprofilepicture" />
                </div>
                <div class="followtakki hidden" id="followtakki">
                    <input type="hidden" value=@Model.user.Id name="userID" id="userID" />
                    <input type="button" value="Follow" class="btn btn-default" id="follow" />
                </div>
                <div class="unfollowtakki" id="unfollowtakki">
                    <input type="hidden" value=@Model.user.Id name="userID" id="userID" />
                    <input type="button" value="Unfollow" class="btn btn-default" id="unfollow" />
                </div>
            </div>
            <div class="groupabout">
                <p>@Model.user.aboutMe</p>
            </div>
            <div class="line-seperatorNewsFeed"></div>
            <div class="navrightfollowers">
                <button id="followersbutton" class="followermargin btn btn-default">Followers</button>
                <button id="followingbutton" class="btn btn-default">Following</button>
                <div id="followers" class="hidden">
                    <p class="followermargin">Followers:</p>
                    @Html.Partial("FollowerFollowing", Model.followers)
                </div>
                <div id="followings" class="hidden">
                    <p class="followermargin">Following:</p>
                    @Html.Partial("FollowerFollowing", Model.followings)
                </div>
            </div>
        </div>
    </div>
    <div>
        @Html.Partial("ProfileFeed", Model.feed)
    </div>

</body>
