@model IEnumerable<FeedIt.Models.UserFeed>
<body>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="wrapper">
                <div class="navleft">
                    <div>
                        <a href="@Url.Action("Profile", "Profile", new { userID = item.user.Id})">
                            <img src="@Url.Content(item.user.profilePicture)" alt="picture" class="groupfeedprofilepic" />
                        </a>
                    </div>
                    <p class="Groupostuser">
                        <a href=@Url.Action("Profile", "Profile", new { userID = item.user.Id })>@item.user.UserName</a>
                    </p>
                    <p class="groupposttime">
                        @item.post.date.Day/@item.post.date.Month - @item.post.date.Hour:@item.post.date.Minute
                    </p>
                    <p class="groupnameingroups">group:<a href=@Url.Action("GroupView", "Group", new { id = item.group.ID })>@item.group.name</a></p>
                </div>
                <div class="Post">
                    <a href="@Url.Action("Index", "Post", new { id = item.post.ID})">
                        <img src="@Url.Content(item.post.picture)" alt="picture" class="postpicture" />
                    </a>
                    <p class="Postabout">@item.post.about</p>
                </div>
                <div class="navright">
                </div>
            </div>
        }
    }
</body>
