@model IEnumerable<FeedIt.Models.UserFeed>

<div class="text-center">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div>
                <p class="text-left">
                    <a href=@Url.Action("Profile", "Profile", new { userID = item.user.Id })>@item.user.UserName</a>
                </p>
                <p class="text-left">
                    @item.post.date
                </p>
                <a href="@Url.Action("Index", "Post", new { id = item.post.ID})">
                    <img src="@Url.Content(item.post.picture)" alt="picture" class="postpicture" />
                </a>
            </div>
            <div class="Postabout">
                <p>@item.post.about</p>
            </div>
        }
    }
</div>