@model IEnumerable<FeedIt.Models.UserFeed>

<div class="posts">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div>
                <a href=@Url.Action("profile", "Profile", new { userID = item.user.Id}) >@item.user.UserName</a>
                @item.post.date
            </div>
            <div>
                <a class="postpic" href="@Url.Action("Index", "Post", new { id = item.post.ID})">
                    <img src="@Url.Content(item.post.picture)" alt="picture" style="width:100px; height:100px;" />
                </a>
            </div>
            <div>
                <p>@item.post.about</p>
            </div>
        }
    }
</div>