@model FeedIt.Models.RegisterViewModel
<body>
    <a href='@Url.Action("Index", "Home")'>
        <img class="logo" src="../Images/image.jpg" />
    </a>
    <div class="line-separator"></div>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="grad"></div>
        <div class="header">
            <div>feed<span>It</span></div>
        </div>
        <br>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="login">
            <div class="fontLogin col-md-12">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })<br>
            </div>
            <div class="fontLogin col-md-12">
                @Html.LabelFor(m => m.FullName)
            </div>
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })<br>
            </div>
            <div class="fontLogin col-md-12">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="col-md-12">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })<br>
            </div>
            <div class="fontLogin col-md-12">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="col-md-12">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })<br>
            </div>
            <div class="form-group">
                <div class="col-md-offset-6">
                    <input type="submit" class="btn btn-default" value="Register" />
                </div>
            </div>
        </div>
    }
    </body>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
