@model FeedIt.Models.SearchViewModel
@{
    ViewBag.Title = "Search result";
}

<body>
    <h2 style="text-align:center"><span>Search </span><span class="newsfeed">result</span></h2>
    <div class="wrapper">
        <div class="navleft">
        </div>
        <div class="navcentermygroups">
            <div>
                @if (Model.users.Count != 0)
                {
                    <p class="marginEditAccount fontLogin">Users:</p>
                }
                @foreach (var item in Model.users)
                {
                    <div class="searchmargin">
                        <a href="@Url.Action("Profile", "Profile", new { userID = item.Id})">
                            <img src="@Url.Content(item.profilePicture)" alt="picture" class="mygroupspicturesearch" />
                        </a>
                        <a href=@Url.Action("Profile", "Profile", new { userID = item.Id }) class="searchresult">@item.UserName</a>
                        <a href=@Url.Action("Profile", "Profile", new { userID = item.Id }) class="searchresultfullname">@item.fullName</a>
                    </div>
                }
            </div>
            <div>
                @if (Model.groups.Count != 0)
                {
                    <p class="marginEditAccount fontLogin">Groups:</p>
                }
                @foreach (var item in Model.groups)
                {
                    <div class="searchmargin">
                        <a href="@Url.Action("GroupView", "Group", new { id = item.ID})">
                            <img src="@Url.Content(item.picture)" alt="picture" class="mygroupspicturesearch" />
                        </a>
                        <a href=@Url.Action("GroupView", "Group", new { id = item.ID }) class="searchresult">@item.name</a>
                    </div>
                }
            </div>
        </div>
        <div class="navright">
        </div>
    </div>
</body>
